<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/styles.css">
  <!-- Local testing:
  <link rel="stylesheet" href="styles.css">
  -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <title>Todolist</title>
  <link rel="icon" type="image/png" href="static/favicon.ico" />
  <!-- Local testing: 
  <link rel="icon" type="image/png" href="favicon.ico" />
  -->
</head>

<body style="background-color:rgb(90, 80, 80)">
  <div id="vueRoot">
    <form class="navbar bg-dark" style="background-color:rgb(187, 54, 54);display:flex;justify-content:flex-end;align-items:center;">
        <p v-if="notLoggedIn" class="login">Username: </p>
        <input class="loginField" autocomplete="on" v-if="notLoggedIn" id="uLogin" v-model="user.username">
        <p v-if="notLoggedIn" class="login">Password: </p>
        <input class="loginField" autocomplete="on" v-if="notLoggedIn" type="password" name="pLogin" v-model="user.password">
        <a class="btn btn-primary" v-if="notLoggedIn" v-on:click="signIn">Login</a>
        <a class="btn btn-primary" v-else v-on:click="signOut">Logout</a>
    </form>
    <router-view></router-view>
    <footer class="page-footer font-small special-color-dark">
      <hr />
      <img id="footerIcon" src="static/favicon.ico" alt="Todolist">
      <p id="info">Kyle Masterson and Pat Mollins | 2018</p>
      <p id="about">UNB INFO3103 Term Project</p>
    </footer>
  </div>
  </div>
  <script id="index" type="text/x-template">
    <!-- Index stuff goes here-->
  </script>
  <script id="home" type="text/x-template">
    <!-- Home stuff goes here-->
  </script>
  <script id="profile" type="text/x-template">
    <!-- Profile stuff goes here-->
  </script>
  <script id="users" type="text/x-template">
    <!-- Users stuff goes here-->
  </script>
  <script src="static/main.js"></script>
  <!-- Local testing:
  <script src="main.js"></script>
  -->
</body>

</html>