html, body {
    height: 100%;
}
header {
    min-height: 100%;
    margin-bottom: -75px;
    background: #ddd;
    padding: 1em;
}
header:after {
    content: "";
    display: block;
    height: 100px;
    padding: 1em;
}
#footerIcon {
    width:30px;
    height: auto;
    display:inline-block;
    padding-left: 0.5em;
}
#info {
    display:inline-block;
    padding: em;
}
#about {
    float: right;
    padding: 0.5em;
}
#login {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    vertical-align: middle;
}
#loginField {
    float: right;
    vertical-align: middle;
}
.navbar-brand {
    display: inline-block;
}
.btn {
    margin: 10px;
    background-color: rgb(90, 80, 80);
    border-color: rgb(90, 80, 80);
}
.btn:hover {
    background-color: rgb(150, 150, 150);
    border-color: rgb(90, 80, 80);
}
.btn:active, 
.btn:focus, 
.btn:active:focus, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary:active:focus {
    background-color: rgb(200, 200, 200) !important;
    box-shadow: none !important;
    border-color: rgb(90, 80, 80) !important;
}