html, body {
    height: 100%;
}
header {
    min-height: 100%;
    margin-bottom: -75px;
    background: #ddd;
    padding: 1em;
}
header:after {
    content: "";
    display: block;
    height: 100px;
    padding: 1em;
}
footer {
    height: 50px;
    background: #eee;
}
#footerIcon {
    width:30px;
    height: auto;
    display:inline-block;
    padding-left: 0.5em;
}
#info {
    display:inline-block;
    padding: 1em;
}
#about {
    float: right;
    padding: 1em;
}
#login {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
}

#loginField {
    float: right;
}