<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Todolist</title>
  <link rel="icon" href="<%= require('./images/favicon.ico') %>">
</head>

<body style="background-color:rgb(130, 130, 130)">
  <div id="vueRoot">
    <form class="navbar" style="background-color:rgb(187, 54, 54);display:flex;justify-content:flex-end;align-items:center;">
        <p v-if="notLoggedIn" class="login">Username: </p>
        <input class="loginField" autocomplete="on" v-if="notLoggedIn" id="uLogin" v-model="user.username">
        <p v-if="notLoggedIn" class="login">Password: </p>
        <input class="loginField" autocomplete="on" v-if="notLoggedIn" type="password" name="pLogin" v-model="user.password">
        <a class="btn btn-primary loginBtn" v-if="notLoggedIn" v-on:click="signIn">Login</a>
        <a class="btn btn-primary loginBtn" v-else v-on:click="signOut">Logout</a>
    </form>
    <router-view></router-view>
    <footer class="page-footer font-small special-color-dark">
      <hr />
      <img id="footerIcon" src="<%= require('./images/favicon.ico') %>" alt="Todolist">
      <p id="info">Kyle Masterson and Pat Mollins | 2018</p>
      <p id="about">UNB INFO3103 Term Project</p>
    </footer>
  </div>
  </div>
</body>

</html>