html, body {
    height: 100%;
}
header {
    min-height: 100%;
    margin-bottom: -75px;
    background: #ddd;
    padding: 1em;
}
header:after {
    content: "";
    display: block;
    height: 100px;
    padding: 1em;
}
#footerIcon {
    width:30px;
    height: auto;
    float: left;
    padding-left: 0.5em;
}
#info {
    float: left;
}
#about {
    float: right;
    padding: 0.5em;
}
.login {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    vertical-align: middle;
}
.loginField {
    float: right;
    vertical-align: middle;
}
.navbar-brand {
    display: inline-block;
}
.loginBtn {
    margin: 10px;
    background-color: rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
}
.loginBtn:hover {
    background-color: rgb(150, 150, 150);
    border-color: rgb(80, 80, 80);
}
.loginBtn:active, 
.loginBtn:focus, 
.loginBtn:active:focus, 
.loginBtn-primary:focus, 
.loginBtn-primary:active, 
.loginBtn-primary:active:focus {
    background-color: rgb(200, 200, 200) !important;
    box-shadow: none !important;
    border-color: rgb(90, 80, 80) !important;
}
div {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    text-align: center;
}
footer {
    position:absolute;
    bottom:0;
    width: 100%
}
.profile {
    text-align: center;
    width: 250px;
    vertical-align: top;
    padding: 10px;
}
#newName, #currentName {
    margin: 10px;
}
.btn {
    margin: 10px;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
}
tr:hover {
    background-color: red;
}